<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
	<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<appender name="logfile" class="org.apache.log4j.RollingFileAppender"> 
		<param name="file" value="multi_snippet_generator.log"/>
		<param name="MaxFileSize" value="50MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d-%5p(%F:%L)-%m%n"/> 
		</layout> 
  	</appender>
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="logfile" />
	</root>
	
</log4j:configuration>