<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><head>
<title>[TITLE]</title>
<meta name="description" content="[DESCRIPTION]" />
<meta name="keywords" content="[KEYWORDS]" />
[CITY_PLACENAME]
[CITY_PPOSITION]
[CITY_REGION]
[META_ICBM]

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="/files/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/files/extra.css" type="text/css" media="screen">
<link rel="stylesheet" href="/files/mapcanvas.css" type="text/css" media="screen">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
</head>

<body class="home" >
	<div class="main-container">
		
		<div class="main-box">
			
			<div class="header">
				<div class="site-name"><h1>[PAGE_H1]</h1></div>
			</div>
			
				<div id="navigation" class="navigation">
				<ul class="nav">
					<li class="page_item"><a href="/">About Us</a></li>
					<li class="page_item"><a href="/faq/">FAQ</a></li>
					<li class="page_item"><a href="/contact/">Contact</a></li>
					<li class="page_item"><a href="/policy/">Lending Policy</a></li>
					<li class="page_item"><a class="newrefill" href="/apply-now/"><b>APPLY NOW!</b></a></li>
				</ul>
				</div>		
			<div class="content-container">
				<div class="content">
					<div class="post-entry">
					<div id="post" class="post">
					[MAIN_BLOCK]
					</div>
					<div class="clear"></div>
					</div>		
				</div>

				<div class="sidebar">
				<div class="sidebar-box rightnav">
				<h3 class="box-title">States We Serve</h3>
				<ul>
					[STATES_LIST]
				</ul>
				</div>
				</div>

				<div class="clear"></div>
				
			</div>

			<div class="footer">
			<div class="clear"></div>
				<div class="copyright">
					<!--div class="footer-links">&nbsp;</div-->
					<div id="design-credits">Installment Loans - Copyright ©2016</div>	
					<br>
					<div id="design-credits" style="text-align:justify">UsaInstallmentLoans.org provides a current market service where your loan need is submitted to a network of reputable lenders. Our service is definitely is never a cost to you for submitting an inquiry free--there. Your lender will have its rates and fees that will be provided for you before you agree to the loan. UsaInstallmentLoans.org is not really a lender and does not make credit decisions.

Clients may have questions about UsaInstallmentLoans.org, which is why we have compiled the most common questions below. When you have another question that's not solved here, we are pleased to answer your questions. Just complete the proper execution on the Contact Us site and we'll get back to you quickly.

When you have questions regarding a loan inquiry, acceptance, funded loan, repayments or any other question about a particular loan, please contact your lender directly. If you received financing, you should curently have the lender’s contact information. Since we are not the lending company, we cannot answer questions about pending or approved loans.</div>
				</div>
			</div>
			
		</div>		
	</div>
</body>
</html>