.navigation {
	background:  #f16321 url("/images/bkgd_diag.png") repeat scroll 0 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 60px;
    min-height: 60px;
    width: 960px;
	margin: 0px 14px;
    color: #fff;
}

ul.nav, ul.mobile_nav {
    display: inline;
    font-size: 1.16em;
    font-weight: bold;
    line-height: 1.16em;
    list-style: outside none none;
    margin-bottom: 15px;
    text-transform: uppercase;
}

ul.nav a:hover, ul.nav a:active, ul.nav a:focus, ul.mobile_nav a:hover {
    background: #ea540f url("/images/bkgd_diag.png") repeat scroll 0 0;
    color: #fff;
}

ul.nav a, ul.nav a:visited, ul.mobile_nav a {
    border-right: 1px solid #fff;
    display: block;
    float: left;
    height: 20px;
    overflow: hidden;
    padding: 20px 20px;
    text-decoration: none;
    text-shadow: 0 0 5px #1e7396;
	color: #fff;
}

ul.nav a.neworder, ul.nav a.neworder:visited, ul.mobile_nav a.basket {
    background: #bbcf29 url("/images/bkgd_diag.png") repeat-x scroll 0 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
ul.nav a.neworder:hover, ul.nav a.neworder:active, ul.nav a.neworder:focus, ul.mobile_nav a.basket:hover {
    background: #aabe18 url("/images/bkgd_diag.png") repeat-x scroll 0 0;
}

ul.nav a.newrefill, ul.nav a.newrefill:visited, ul.mobile_nav a.search {
    background: #bbcf29 url("/images/bkgd_diag.png") repeat scroll 0 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
ul.nav a.newrefill:hover, ul.nav a.newrefill:active, ul.nav a.newrefill:focus, ul.mobile_nav a.search:hover {
    background: #aabe18 url("/images/bkgd_diag.png") repeat scroll 0 0;
}

.text_16{
    font-size: 1.333em;
}

a.city {
    color: #f16321;
}

