<div style="line-height:20px; font-size:15px;">
<h2>[SITE_NAME] Policy on Responsible Lending</h2>
<br><br>
You, our customers are our prized possession and we do all that people can offer a wonderful experience to our visitors and participants. We are also aware of the increased conditions of online scams and identity fraud these days and to be able to rise to the situation have used the best insurance policies in order to secure the customer information.

<h3>Information gathered by us</h3>

You can expect our customers great overall flexibility to find the way they wish to share information with us. This consists of offering partial information, complete information including the financial describing and no information if the clients desire to do so.

We collect information, which is both personal and non-personal for the specific purposes necessary for the betterment of the website. While you make any business deal or loan demand or complete a loan form or even register around, certain details like the true name, time, gender, marital status, locality, property, family, correspondence address , e-mail address and other such information is gathered by us.

Anyone visiting the site shall find their IP address and the particular date, length and the right time of login monitored by our website. We hereby declare all these activities are entirely driven towards improving the services for you and are needed by the marketing team to collate and assess the info themselves so that we could come up with new ideas and answers to meet up with the customer needs.

<h3>How we use your information</h3>
Any service get or loan question has a section, which permits us to contact you for the latest deals and the offers, that are featured on our website by the clients associated with internet marketer lovers, third parties and us. Your information is taken as a base and you may well be contacted via email, calls and messaging. In case you do not require any of the services and don't desire to be communicated any more you need to simply email us and we will ensure these calls and updates stop coming for you.

Your information for the loan need will be shared with different lenders to fit your requirements and also to get the best bargain. This is an integral part of the services proposed by us and hence we would require you to be aware of the same.

<h3>Disclosing information</h3>

Although we take the complete care of the secrecy of the non-public information in our customers, we do not take any guarantee that the information will not be shared with the third parties when there is a business reason from the same. Furthermore, in case the information is necessary by the federal government Agencies for a study we are bound by the law of their state to share the same with the government bodies without your knowledge.

In case there's a legal proceeding against the customer, which involves our knowledge from any of the police bodies, we will be bound by the policy to avoid you access to the website without the prior notice.

<h3>Cookies</h3>

Our list of third party affiliate marketers includes Google, which uses cookies for monitoring the merchandise searches created by the individuals and then help them with the related adverts. There are third party vendors associated too, who might be engaged in the traffic monitoring of the user motion through cookies. These might correspond to reasons of advertisements or any other related issues. However, we declare that people do not have any control over them and one should exercise personal care while coping with them.

In case you intend to stop cookies, you shall still be in a position to access our website but there will be certain sections, which you might not be able to access.

<h3>Children's privacy</h3>

We do not allow children below age 18 years rights to gain access to our website for just about any purpose. To be able to protect the level of privacy of the minors we discourage any advertising too that will be targeted towards sketching the focus on the site.

Links to other websites
This website may include links to different websites that contain been included for your use and reference. The linked websites shall have different privacy policies that UsaPersonalLoans.org is not responsible. Please review the level of privacy guidelines of such websites before you talk about any personal information with them.

It really is to be noted that we now have several links to the other websites, which are featuring on our website. We hereby declare that these are simply just for the capability of our customers. These are based on the queries of the clients. We also declare that none of the sites are related to us in anyway and are governed by their split online privacy policy and the conditions and conditions. So the customers making a transfer on the websites, need to undergo the complete information on the sites prior to making any deal with them.

<h3>Security</h3>

We keep our website compliant with the latest in neuro-scientific online security and the certifications for the same are placed on the site for our customers to check and for their satisfaction.

<h3>Modifications and updates</h3>

The contents of the online privacy policy are subject to change at any time and we urge our visitors and members to keep a tabs on the updates on the site and abide by them.
</div>