html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
img { border-width:0; }
:focus { outline:none; } 



body { 
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif; 
	color:#444; 
	/*** ЦВЕТ фона под картинкой, если не загрузилась картинка ***/
	background:#d6e4b4 url("/images/grass.jpg") no-repeat fixed;
	background-size: 100%;	
}

a { 
	/*** ЦВЕТ ССЫЛОК ***/
	color:#A52A2A; 
	text-decoration:none; 
} 

a:hover { 
	text-decoration:underline; 
}
h1, h2, h3, h4, h5, h6 { 
	margin:0 0 13px 0; 
	padding:8px 0 0 0;
	color:#333; 
	line-height:1.1em;
}
h1, h2, h3 {
	margin-left:-1px;
}
h1 {
	font-size:30px;
	line-height:1.0em;
	letter-spacing:-1px;
	margin-bottom:20px;
	margin-left:-2px;
}
h2 {
	font-size:25px;
	line-height:1.1em;
	letter-spacing:-1px;
}
h3 {
	font-size:16px;
	line-height:1.1em;
	/*** ЦВЕТ States We Serve ***/
	color:#8B7D7B;
}
h4 {
	font-size:18px;
}
h5 {
	font-size:16px;
}
h6 {
	font-size:14px;
	margin-bottom:5px;
	line-height:1.25em;
}
p { 
	margin:0 0 13px 0; 
	line-height:1.33em; 
}
ol { 
	padding:0 0 5px 10px;
	margin:0 0 5px 10px;
}
ol li {
	margin:0 0 5px 0; 
	line-height:1.33em;
}
ul { 
	padding:0 0 5px 0;
	margin:0 0 5px 0;
	list-style:none;
}
ul li { 
	margin:0 0 5px 0;
	line-height:1.33em;
	padding:0 0 0 16px;
}

div.hr {
	height:1px;
	overflow:hidden;
	border-bottom:1px solid #d0d0d0;
	padding-top:15px;
	margin-bottom:20px;
}

.main-container {
	width:990px;
	padding:0 3px;
	margin:0 auto;
	background:url(images/cnt_shdw.png) 0 0 repeat-y;
}
.main-box {
	width:990px;
	background:#fff;
}


.header {
	background:url(images/header_background.jpg) 100% 0% no-repeat;
	height:80px;
	position:relative;
}
.site-name {
	padding: 12px 10px 3px 15px;
}
			
.site-name h1 {
	font: bold 30px Arial,Helvetica,sans-serif;
	/*** ЦВЕТ ГЛАВНОГО ЗАГОЛОВКА ***/
	color: #8B7D7B;
	letter-spacing: 0.1em;
    text-decoration: none;
    text-shadow: 1px 1px 1px #f8faf5;
}

.tagline {
	padding: 0px 0px 0px 15px;
}	


.mainnav {
	width:100%;
	height:42px;
	position:relative;
	background:url("/images/mainnav_bg.gif") repeat-x;
}
.mainnav ul {
	padding:0 0 0 15px;
	margin:0;
	list-style:none;
}
.mainnav ul li {
	float:left;
	height:42px;
	position:relative;
	padding:0;
	margin:0;
	background:none;
}
.mainnav ul li a {
	display:block;
	height:30px;
	float:left;
	font-size:16px;	
	color:#FFFFFF;
	padding:12px 15px 0 15px;
	line-height:1;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

	
.content-container {
	background:url(images/count_background.gif) 0 1px repeat-x;
	width:960px;
	padding:15px;
	clear: both;
}
.content {
	float:left;
	width:705px;
}
.sidebar {
	float:right;
	padding-bottom:50px;
	width:240px;
}
	


.sidebar-box {
	padding:11px 14px;
	border:1px solid #d0d0d0;
	/*** ЦВЕТ верхней линии над ссылками ***/
	border-top:4px solid #8B7D6B;
	margin-bottom:12px;
}
.sidebar-box .box-title {
	font-size:16px;
	padding:0;
}

.rightnav {
	padding:10px 14px;
	/*** ЦВЕТ фона под ссылками ***/
	background:#FDF5E6;
}
.rightnav ul {
	padding:0;
	margin:0;
}
.rightnav ul li {
	padding:0;
	margin:0 0 5px 0;
	background:none;
	/*** ЦВЕТ количества городов ***/
	color: #666666;
}
.rightnav ul li a {
	font-size:13px;
}
			


					
.post-entry {
	background:#fff url("/images/item_background.gif") repeat-x;
	border:1px solid #d0d0d0;
	padding:12px 14px;
	margin-bottom:8px;
}

.post-entry .post {
	min-height:110px;
	height:auto !important;
	height:110px;
	position:relative;
}


.post-entry h2 {font-size:18px; padding:0 3px 10px 3px;margin:0;font-weight:normal;}
.post-entry p {padding:0 3px 0 3px;}



.footer {
    background-color: #427f00;
	width:100%;
	color:#fff;
}
.footer a {
	color:#c2dd82;
}
.footer .copyright {
	height: 110px;
	background:#427f00 url("/images/footer_background.gif") 0 100% no-repeat;	
	
	padding:13px 0 0 15px;
	line-height:1.33em;
}
.footer .footer-links {
	margin-top: 70px;
	clear: both;
}

.footer .copyright span {
	padding:0 5px;
	font-size:16px;
	color:#7ca740;
}

.footer-widget {padding: 10px; clear: both;}
.footer-widget div, .footer-widget form {padding: 15px 0 15px 15px;}
.footer-widget ul {padding: 15px 0; margin: 0;}
.widget-footer {width: 300px; float: left;}

#design-credits {width: 960px;font-size: 10px;text-align: right;}
.clear {clear: both;}